@import "style.css";

/* style preview
------------------------*/
.preview {
  display: grid;
  grid-template-columns: 1fr 453px;
  grid-gap: 15px;
}

.preview-banner {
  overflow: hidden;
  border-radius: 10px;
}

.preview-slide {
  grid-row: 1/3;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.banner-slider__item {
  box-shadow: var(--lite-shadow);
}

.preview-banner {
  width: 100%;
  padding-top: 48.5%;
  position: relative;
}

.banner-slider {
  position: relative;
}

.banners-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 10;
}

.banners-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

/* style sales hits
------------------------*/
.sales-hits, .new-products, .viewed {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  align-items: center;
  grid-row-gap: 20px;
}

.sales-hits-wrapper, .new-products-wrapper, .viewed-wrapper {
  grid-column: 1/4;
  width: 100%;
  position: relative;
}

.sales-hits-list, .new-products-list, .viewed-list {
  width: 100%;
  display: inline-flex;
  align-items: stretch;
}

.sales-hits-list__item, .new-products-list__item, .viewed-list__item {
  height: auto;
  background-color: var(--white);
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slider-pagination {
  margin-right: 37px;
}

.slider-per-view {
  position: relative;
  width: calc(100% + 20px);
  padding: 10px;
  left: -10px;
}

.card-preview {
  padding: 18px 39px 11px;
  position: relative;
  width: 100%;
  /*height: 167px;*/
}

.card-preview__btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 17px;
  height: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: var(--normal);
}

.card-preview__btn + .card-preview__btn {
  top: 36px;
}

.card-preview__btn-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--normal);
  stroke: var(--dark-state-blue);
}

.card-preview__btn.active .card-preview__btn-icon:first-child, .card-preview__btn .card-preview__btn-icon:last-child {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

.card-preview__btn.active .card-preview__btn-icon:last-child, .card-preview__btn-icon {
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.card-preview__btn.active .card-preview__btn-icon:last-child {
  stroke: var(--red);
  fill: var(--red);
}

.card-preview__img {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.card-info {
  padding: 0 13px 9px 10px;
  height: calc(100% - 167px);
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tags__link {
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #1D1D1F;
  font: 700 9px/1.2 var(--font);
  padding: 3px 5px;
  border-radius: 20px;
}

.tags__item {
  margin: 0 7px 11px 0;
}

.tags__item:last-child {
  margin-right: 0;
}

.tags__link[data-type="new"] {
  background: rgba(0, 165, 101, 0.2);
}

.tags__link[data-type="credit"] {
  background: rgba(31, 110, 184, 0.2);
}

.tags__link[data-type="action"] {
  background: rgba(255, 125, 133, 0.2);
}

.card-info__title {
  margin-bottom: 25px;
  font: 400 13px/106% var(--font);
}

.card-price__add-cart {
  width: 39px;
  height: 29px;
  background-color: var(--green-haze);
  background-size: 16px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--normal);
}

.card-price__add-cart[data-cart="true"] .card-price__icon:first-child,
.card-price__add-cart[data-cart="false"] .card-price__icon:last-child {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.card-price__add-cart:hover {
  background-color: var(--deep-saffron);
}

.card-info-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 29px;
}

.card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.rating[data-rating='1'] .rating__item:nth-child(1), .rating[data-rating='2'] .rating__item:nth-child(-n+2),
.rating[data-rating='3'] .rating__item:nth-child(-n+3), .rating[data-rating='4'] .rating__item:nth-child(-n+4),
.rating[data-rating='5'] .rating__item:nth-child(-n+5) {
  background: url("../img/icons/star-active.svg") no-repeat;
}

.rating__item {
  width: 11px;
  height: 10px;
  margin-right: 4px;
  background: url("../img/icons/star.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

.rating__item:last-child {
  margin-right: 0;
}

.card-price__old {
  text-decoration-line: line-through;
  color: var(--suva-grey);
  font: 400 10px/12px var(--font);
}

.card-price__new {
  font: 400 13px/106% var(--font);
  color: var(--black);
}

.card-price__icon {
  width: 17px;
  height: 15px;
  stroke: var(--white);
  transition: var(--normal);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

/* style section popular category
--------------------------------*/
.popular-category {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  align-items: center;
}

.popular-category__link {
  grid-column: 2/3;
  grid-row: 1/2;
}

.popular-category-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-column: 1/3;
}

.popular-category-list__item {
  width: 100%;
  height: 216px;
  background-color: var(--white);
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
}

.popular-category-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-category-list__img {
  max-width: 146px;
}

.popular-category-list__name {
  font: 400 13px/106% var(--font);
  color: var(--black);
  margin-top: 5px;
  text-align: center;
}

/* style section brands
---------------------*/
.brands {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
  align-items: center;
}

.brands__link {
  grid-column: 2/3;
  grid-row: 1/2;
}

.brands-list {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-column: 1/3;
}

.brands-list__link, .brands-list__item {
  width: 100%;
  height: 58px;
}

.brands-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
  transition: var(--normal);
}

.brands-list__link:hover {
  transform: scale(1.05);
}

/* style section description
---------------------------*/
.description__text {
  font: 400 16px/19px var(--font);
  color: var(--black);
  opacity: 0.6;
}

/* style banner content
---------------------------*/
.banner-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 40px;
  height: 233px;
  overflow: hidden;
  background: var(--dark-state-blue);
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.banner-logo {
  width: 637px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #312a5f;
  overflow: hidden;
}

.banner-logo:after {
  content: "";
  width: 786px;
  height: 786px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 20px);
  background: var(--dark-state-blue);
  border-radius: 50%;
}

.banner-logo__icon {
  width: 260px;
  height: 75px;
  fill: var(--white);
}

.banner-item-advantages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px 30px;
}

.banner-content__wrap {
  width: calc(100% - 637px);
  height: 100%;
  margin: 0 70px 0 60px;
  overflow: hidden;
  padding-bottom: 41px;
}

.banner-content__pagination {
  position: absolute;
  bottom: 31px;
  left: 0;
}

.banner-content__list, .banner-content__item {
  height: 100%;
  width: 100%;
}

.banner-content__item {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1px;
}

.banner-content__item > p {
  max-width: 583px;
  font: 300 20px/23px var(--font);
  color: var(--white);
}

.banner-content__wrap .swiper-pagination-bullet-active {
  background-color: var(--suva-grey);
}

.banner-item-advantages__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  fill: var(--white);
  stroke: var(--white);
}

.banner-item-advantages__text {
  font: 300 15px/18px var(--font);
  color: rgba(255, 255, 255, 0.7);
  max-width: 204px;
  display: inline-block;
}

.banner-item-advantages__elem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* style page header
--------------------------------*/
.page-header {
  width: 100%;
  padding: 0 var(--content-size);
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__title {
  width: max-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font: 400 32px/38px var(--font);
}

/* style breadcrumbs */
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.breadcrumbs__item {
  padding-right: 29px;
  position: relative;
}

.breadcrumbs__item:after {
  content: "";
  width: 3px;
  height: 7px;
  background: url("../img/icons/arrow-lite.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs__item:last-child:after {
  content: none;
}

.breadcrumbs__link {
  font: 500 16px/19px var(--font);
  color: rgba(70, 60, 136, 1);
}

/* style catalog */
.catalog {
  width: 100%;
  display: grid;
  grid-template-columns: 335px 1fr;
  grid-column-gap: 20px;
}

.catalog-content {
  width: 100%;
  overflow: hidden;
}

.catalog-content .page-banner-wrap {
  margin-bottom: 40px;
}

.catalog-sort-wrap {
  width: 100%;
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
  background-color: var(--white);
  margin-bottom: 15px;
  padding: 14px 15px 20px 14px;
}

.catalog-sort-wrap:last-child {
  margin-bottom: 0;
}

.banner-catalog {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
}

.catalog-sort__title {
  color: var(--dark-state-blue);
  font: 500 16px/19px var(--font);
  padding-bottom: 13px;
  max-width: 103px;
}

.catalog-sort__item {
  width: 100%;
  margin-top: 15px;
}

.catalog-sort__link {
  font: 400 15px/106% var(--font);
  color: var(--black);
}

.catalog-sort__list {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* style subcategory
--------------------*/
.subcategory {
  padding: 0 var(--content-size);
  display: grid;
  grid-template-columns: 335px 1fr;
  grid-column-gap: 20px;
}

.subcategory-sort {
  grid-column: 1/2;
  grid-row: 1/none;
}

.subcategory-sort__wrap {
  justify-content: flex-start;
  margin-bottom: 16px;
}

.subcategory-sort__title {
  position: relative;
  padding: 0 20px 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font: 500 16px/19px var(--font);
  color: var(--dark-state-blue);
  margin-bottom: 10px;
   cursor: pointer;
}

.subcategory-sort__wrap:first-child .subcategory-sort__title {
  font: 400 15px/106% var(--font);
  color: var(--black);
}

.subcategory-sort__wrap:first-child .subcategory-sort__title:before {
  content: none;
}

.subcategory-sort__wrap:first-child .subcategory-sort__title {
  cursor: default;
}

.hide .subcategory-sort__title:not(.subcategory-sort__wrap:first-child.hide .subcategory-sort__title) {
  margin-bottom: 0;
}

.subcategory-sort__title:before {
  content: "";
  width: 17px;
  height: 8px;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/icons/arrow.svg") no-repeat;
  background-size: cover;
  background-position: center;
  transition: var(--normal);
}

.hide > .subcategory-sort__title:before {
  transform: translateY(-50%) rotate(180deg);
}

.subcategory-sort__wrap.hide > div {
  height: 0;
  overflow: hidden;
}

.subcategory-options, .subcategory-sort__wrap {
  width: 100%;
  padding: 20px;
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
  background-color: var(--white);
}

.subcategory-options {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subcategory-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.subcategory-products__item {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--lite-shadow);
}

.active-filter-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.active-filter__item {
  padding: 5px 9px;
  border: 1px solid var(--suva-grey);
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: max-content;
}

.active-filter__item:last-of-type {
  margin-bottom: 0;
}

.active-filter__item span {
  font: var(--text-normal);
  margin-right: 10px;
  color: var(--suva-grey);
}

.active-filter__reset {
  background-color: var(--dark-state-blue);
  border-radius: 20px;
  color: var(--white);
  font: var(--text-normal);
  margin-top: 9px;
  cursor: pointer;
}

.active-filter__list_empty ~ .active-filter__reset {
  display: none;
}

.active-filter__delete {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a39dc3;
}

.active-filter__delete-icon {
  width: 7px;
  height: 8px;
  stroke: var(--dark-state-blue);
}

.subcategory-sort__checkbox-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.subcategory-sort__checkbox {
  width: max-content;
  cursor: pointer;
  margin-bottom: 10px;
}

.subcategory-sort__checkbox span {
  font: 400 13px/106% var(--font);
  color: var(--black);
  padding-left: 31px;
  position: relative;
}

.subcategory-sort__checkbox span:before, .subcategory-sort__checkbox span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--normal);
}

.subcategory-sort__checkbox span:before {
  width: 19px;
  height: 19px;
  left: 0;
  border: 1px solid var(--alto);
  border-radius: 4px;
}

.subcategory-sort__checkbox span:after {
  width: 9px;
  height: 8px;
  background: url("../img/icons/check.svg") no-repeat;
  background-size: cover;
  background-position: center;
  left: 5px;
  opacity: 0;
}

.subcategory-sort__checkbox input:checked + span:after {
  opacity: 1;
}

.subcategory-sort__checkbox input:checked + span:before {
  border-color: var(--dark-state-blue);
}

.subcategory-sort__color-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.subcategory-sort__color {
  width: max-content;
  margin: 0 16px 16px 0;
  cursor: pointer;
}

.subcategory-sort__color span {
  display: inline-block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: relative;
}

.subcategory-sort__color span:before {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  left: -4px;
  top: -4px;
  border: 1px solid #463C88;
  border-radius: 50%;
  opacity: 0;
  transition: var(--normal);
}

.subcategory-sort__color input:checked + span:before {
  opacity: 1;
}

[data-color="#FF7A00"] {
  background-color: #FF7A00;
}

[data-color="#FF0000"] {
  background-color: #FF0000;
}

[data-color="#A40000"] {
  background-color: #A40000;
}

[data-color="#00C2FF"] {
  background-color: #00C2FF;
}

[data-color="#0066FF"] {
  background-color: #0066FF;
}

[data-color="#8F00FF"] {
  background-color: #8F00FF;
}

[data-color="#42FF00"] {
  background-color: #42FF00;
}

[data-color="#FF8A00"] {
  background-color: #FF8A00;
}

[data-color="#0B9619"] {
  background-color: #0B9619;
}

[data-color="#000000"] {
  background-color: #000;
}

.subcategory-sort__popular-requests {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.subcategory-sort__popular-requests a {
  font: 400 13px/106% var(--font);
  display: inline-block;
  color: var(--black);
  margin-bottom: 15px;
}

.subcategory-sort__popular-requests a:last-child {
  margin: 0;
}

.subcategory-options__icon {
  width: 17px;
  height: 17px;
  stroke: var(--red);
}

/* style faq
--------------------*/
.page-banner-wrap {
  border-radius: 10px;
  overflow: hidden;
}

.page-banner__link {
  padding-top: 28.3%;
  position: relative;
  display: block;
  width: 100%;
}

.faq-list__item {
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
  background-color: var(--white);
  padding: 20px 100px;
  margin-bottom: 15px;
}

.faq-list__item:last-child {
  margin-bottom: 0;
}

.faq-list__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.faq-list__title {
  font: 400 20px/23px var(--font);
  color: var(--black);
}

.faq-list__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.faq-list__content p, .faq-list__content ul, .faq-list__content ol {
  font: 400 16px/19px var(--font);
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 12px;
}

.faq-list__content li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
}

.faq-list__view-btn {
  font: var(--text-normal);
  color: var(--black);
  padding: 7px 15px;
  border: 1px solid var(--alto);
  border-radius: 20px;
  transition: var(--normal);
  background-color: var(--white);
}

.faq-list__view-btn:hover {
  background-color: var(--dark-state-blue);
  color: var(--white);
}

.faq-list__item.hide .faq-list__content {
  height: 0;
}

.faq-list__item.hide .faq-list__title-wrap {
  margin: 0;
}

/* style exchange
--------------------*/
.page-exchange-banner {
  margin-bottom: 0;
}

.exchange-nav {
  background-color: var(--white);
  padding: 24px 22px 18px;
  border-radius: 10px;
  box-shadow: var(--lite-shadow);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.exchange-nav__item {
  padding: 8px 20px;
  border: 1px solid var(--alto);
  border-radius: 20px;
  font: 400 16px/19px var(--font);
  color: var(--black);
  margin: 0 15px 15px 0;
  transition: var(--normal);
  cursor: pointer;
}

.exchange-nav__item.active {
  background-color: var(--dark-state-blue);
  color: var(--white);
}

.exchange-content__wrap, .pay-content__wrap {
  padding: 40px 100px;
  box-shadow: var(--lite-shadow);
  border-radius: 10px;
  background-color: var(--white);
  margin-top: 15px;
}

.exchange-content__wrap h1, .exchange-content__wrap h2, .exchange-content__wrap h3, .exchange-content__wrap h4,
.exchange-content__wrap h5, .exchange-content__wrap h6, .pay-content__wrap h1, .pay-content__wrap h2,
.pay-content__wrap h3, .pay-content__wrap h4, .pay-content__wrap h5, .pay-content__wrap h6 {
  font: 400 20px/23px var(--font);
  color: var(--black);
  margin-bottom: 30px;
}

.exchange-content__wrap li, .pay-content__wrap li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 3px;
}

.exchange-content__wrap li:before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
}

.pay-content__wrap ol li, .exchange-content__wrap ol li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 10px;
}

.exchange-content__wrap p, .exchange-content__wrap ul, .exchange-content__wrap ol, .pay-content__wrap p,
.pay-content__wrap ul, .pay-content__wrap ol {
  margin-bottom: 30px;
}

.exchange-content__wrap p a, .exchange-content__wrap li a, .exchange-content__wrap p, .exchange-content__wrap ul,
.exchange-content__wrap ol, .pay-content__wrap p a, .pay-content__wrap li a, .pay-content__wrap ul,
.pay-content__wrap ol, .pay-content__wrap p {
  font: 400 16px/19px var(--font);
  color: rgba(0, 0, 0, 0.7);
}

.exchange-content__wrap > *:last-child, .pay-content__wrap > *:last-child {
  margin: 0;
}

.exchange-content {
  position: relative;
}

.exchange-content__item, .pay-content__item {
  transition: var(--normal);
}

.exchange-content__item.hide, .pay-content__item.hide {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -15;
}

/* style pay
--------------------*/
.pay-page-banner {
  margin-bottom: 20px;
}

.pay-nav {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.pay-nav__item {
  width: 100%;
  min-height: 138px;
  border: 1px solid var(--dark-state-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 10px;
  transition: var(--normal);
  cursor: pointer;
}

.pay-nav__text {
  text-align: center;
  width: 185px;
  font: 400 20px/23px var(--font);
  color: var(--dark-state-blue);
  transition: var(--normal);
}

.pay-nav__icon {
  stroke: var(--dark-state-blue);
  max-width: 53px;
  height: 43px;
  margin-bottom: 15px;
}

.pay-nav__item.active {
  background-color: var(--dark-state-blue);
}

.pay-nav__item.active .pay-nav__text {
  color: var(--white);
}

.pay-nav__item.active .pay-nav__icon {
  stroke: var(--white);
}

/* style @media
--------------------*/
@media screen and (max-width: 1470px) {
  .banner-content {
    max-width: 1200px;
  }

  .banner-logo {
    width: 500px
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --content-size: calc(50% - 460px);
  }

  .banner-content {
    max-width: 920px;
  }

  .banner-content__wrap {
    width: calc(100% - 165px);
    margin: 0 30px;
  }

  .banner-logo__icon {
    width: 200px;
    height: 60px;
  }

  .popular-category-list__img {
    max-width: calc(100% - 30px);
  }

  .popular-category-list__name {
    padding: 0 10px;
  }

  .preview {
    grid-template-columns: 1fr 370px;
  }
}

@media screen and (max-width: 1000px) {

}