@import "fonts.css";

/* style general
-----------------*/
:root {
    --content-size: calc(50% - 700px);
    --normal: .3s;
    --port-core: #231e44;
    --dark-state-blue: #463C88;
    --white: #fff;
    --suva-grey: #888;
    --alto: #d9d9d9;
    --black: #000;
    --medium-spring-green: #02f798;
    --slimy-green: #02f798;
    --green-haze: #00A565;
    --red: #ff0000;
    --orange: #f79502;
    --deep-saffron: #ef9934;
    --font: "Roboto", sans-serif;
    --title-h3: 400 23px/27px var(--font);
    --lite-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
}

*, :before, :after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    color: var(--black);
    background-color: #f5f5f6;
}

body.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"], input[type="file"] {
    display: none;
}

section {
    width: 100%;
    padding: 0 var(--content-size);
    margin-bottom: 40px;
}

.bg-img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.link-all {
    padding: 7px 15px;
    border: 1px solid var(--alto);
    border-radius: 20px;
    font: 500 14px/16px var(--font);
    color: var(--black);
    transition: var(--normal);
    max-height: 30px;
}

.link-all:hover {
    color: var(--white);
    background-color: var(--dark-state-blue);
}

.section-title {
    font: var(--title-h3);
    color: var(--black);
}

.slider-prev, .slider-next {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.slider-prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.slider-next {
    right: 0;
    transform: translate(50%, -50%);
}

.slider-next:disabled, .slider-prev:disabled {
    display: none;
}

.slider-prev__arrow, .slider-next__arrow {
    width: 8px;
    height: 16px;
    stroke: var(--dark-state-blue);
    stroke-width: 2;
    fill: transparent;
}

.slider-prev__arrow {
    transform: translateX(-15%);
}

.slider-next__arrow {
    transform: translateX(15%) rotate(180deg);
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
    grid-template-columns: repeat(6, 1fr);
}

/* style header
-----------------*/
.header {
    margin-bottom: 15px;
}

.header-menu, .header-bottom {
    width: 100%;
    padding: 0 var(--content-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    height: 32px;
    background-color: var(--port-core);
}

.header-menu__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
}

.header-menu__item {
    margin-left: 27px;
}

.header-menu__item:first-child {
    margin: 0;
}

.header-menu__link {
    font: 400 14px/16px var(--font);
    color: var(--white);
}

.header-bottom {
    height: 55px;
    background-color: var(--dark-state-blue);
}

.logo-header, .logo-header__icon {
    fill: var(--white);
    width: 88px;
    height: 26px;
}

.catalog-btn__icon {
    width: 17px;
    height: 17px;
    stroke: var(--white);
    transition: var(--normal);
    margin-right: 7px;
}

.header-catalog.active .catalog-btn {
    background-color: var(--white);
    color: var(--dark-state-blue);
    padding: 0 11px 0 9px;
}

.catalog-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 400 16px/19px var(--font);
    color: var(--white);
    height: 100%;
    border-radius: 5px 5px 0 0;
    transition: var(--normal);
    z-index: 150;
    position: relative;
}

.header-catalog.active .catalog-btn__icon, .location-btn:hover .location-btn__icon {
    stroke: var(--dark-state-blue);
}

.header-panel-left {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-panel-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.header-panel-right__btn {
    position: relative;
}

.header-panel-right__btn.exist:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    left: 10px;
    top: 10px;
    background: var(--red);
    border: 1px solid var(--white);
    border-radius: 50%;
}

.header-location {
    display: inline-flex;
    align-items: center;
    margin-left: 21px;
    height: 100%;
}

.location-btn__icon {
    width: 12px;
    height: 17px;
    stroke: var(--white);
}

.header-location__place {
    font: 400 14px/16px var(--font);
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
}

.header-search {
    margin-left: 16px;
    width: 131px;
    height: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    padding: 10px 12px;
}

.header-search__input {
    width: calc(100% - 23px);
    height: 30px;
    background-color: transparent;
    font: 400 16px/19px var(--font);
    color: var(--white);
}

.header-search__input::placeholder {
    font: 400 16px/19px var(--font);
    color: rgba(255, 255, 255, 0.4);
}

.header-search__submit {
    display: none;
}

.header-search__icon {
    width: 15px;
    height: 17px;
    fill: var(--white);
    stroke: var(--white);
    margin-right: 8px;
}

.header-search__text {
    display: none;
}

.location-btn {
    border-radius: 5px 5px 0 0;
    height: 100%;
    transition: var(--normal);
}

.location-btn:hover {
    background-color: var(--white);
    padding: 0 15px 0 14px;
}

.header-catalog {
    height: 100%;
    position: relative;
}

.header-catalog.active .header-catalog-wrap {
    z-index: 15;
    visibility: visible;
    opacity: 1;
}

.header-catalog.active:before {
    content: "";
}

.header-catalog-wrap {
    width: 1400px;
    height: 596px;
    background-color: var(--white);
    position: absolute;
    transition: var(--normal);
    top: 100%;
    left: 0;
    z-index: -5;
    visibility: hidden;
    opacity: 0;
    padding: 12px 12px 11px 18px;
    border-radius: 0 0 5px 5px;
    box-shadow: var(--lite-shadow);
    display: grid;
    grid-template-columns: 325px 1fr;
    grid-gap: 25px;
}

.header-catalog:before, .header-location:before {
    content: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(33, 27, 69, 0.7);
    backdrop-filter: blur(4.5px);
    z-index: 10;
    top: 32px;
    left: 0;
}

.header-catalog-list {
    padding-top: 14px;
}

.header-catalog-list__item {
    margin-bottom: 19px;
}

.header-catalog-list__item:last-child {
    margin: 0;
}

.header-catalog-listt__item:last-child {
    margin-bottom: 0;
}

.header-catalog-list__link {
    font: 400 14px/16px var(--font);
    color: var(--black);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 15px;
    align-items: center;
    justify-content: flex-start;
}

.header-catalog-preview-wrap {
    display: grid;
    grid-template-columns: 1fr 220px;
    grid-column-gap: 40px;
}

.header-catalog-preview__banner-img, .header-catalog-preview__banner-link {
    width: 100%;
}

.header-catalog-preview-wrap, .header-catalog-preview-slider, .header-catalog-preview-slider__item,
.header-catalog-preview-slider__list {
    width: 100%;
    height: 100%;
}

.header-catalog-preview-slider {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.header-catalog-preview-slider__item {
    position: relative;
    overflow: hidden;
}

.header-catalog-preview {
    width: 100%;
    height: 100%;
    padding: 16px 0 0;
    max-width: 545px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-catalog-preview__title {
    font: 400 16px/19px var(--font);
    color: var(--dark-state-blue);
    margin-bottom: 15px;
}

.header-catalog-preview__bottom-menu {
    width: max-content;
    margin-bottom: 20px;
}

.header-catalog-preview__list {
    flex-wrap: wrap;
    max-height: 275px;
    display: flex;
    flex-direction: column;
}

.header-catalog-preview__item {
    margin: 0 40px 10px 0;
    width: max-content;
    transition: var(--normal);
}

.header-catalog-preview__item:last-child {
    margin-bottom: 0;
}

.header-catalog-preview__link:before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #D9D9D9;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-catalog-preview__link {
    font: 400 14px/16px var(--font);
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding-left: 15px;
    display: inline-block;
    transition: var(--normal);
}

.header-catalog-preview__link:hover:before {
    opacity: 0;
}

.header-catalog-preview__link:hover {
    color: var(--dark-state-blue);
}

.header-phone {
    display: inline-flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font: 400 16px/19px var(--font);
    transition: var(--normal);
}

.header-phone:hover {
    color: var(--white);
}

.header-phone__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    stroke: var(--white);
}

.header-cart, .header-favorite, .header-comparison {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    position: relative;
    z-index: 3;
}

.header-cart:before, .header-favorite:before, .header-comparison:before {
    content: "";
    width: 9px;
    height: 9px;
    background-color: var(--red);
    border: 1px solid var(--white);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 55;
    transition: var(--normal);
}

.header-cart.notice:before, .header-favorite.notice:before, .header-comparison.notice:before {
    visibility: visible;
    opacity: 1;
}

.header-comparison__icon, .header-favorite__icon, .header-cart__icon {
    width: 19px;
    height: 18px;
    stroke: var(--white);
    z-index: 50;
}

.header-comparison {
    margin-left: 46px;
}

.header-user__icon {
    width: 15px;
    height: 18px;
    fill: var(--white);
    stroke: var(--white);
}

.header-user {
    margin-left: 24px;
    height: 100%;
    position: relative;
}

.header-user__btn {
    height: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-user__name {
    font: 400 14px/16px var(--font);
    color: rgba(255, 255, 255, 0.6);
    margin-left: 11px;
}

.login-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
}


.header-user:before {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(33, 27, 69, 0.7);
    backdrop-filter: blur(4.5px);
    z-index: -10;
    top: 87px;
    left: 0;
}

.header-user.active:before {
    content: "";
}

.header-user.active .login-menu-wrap {
    z-index: 50;
    visibility: visible;
    opacity: 1;
}

.login-wrap {
    width: 350px;
    padding: 23px 13px;
    align-items: center;
}

.login-wrap__text {
    font: 400 14px/1.5 var(--font);
    text-align: center;
    color: var(--black);
    margin-bottom: 14px;
}

.login-wrap__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font: 400 16px/19px var(--font);
    padding: 8px 20px;
    background: var(--dark-state-blue);
    border-radius: 20px;
}

.login-menu, .login-wrap {
    padding: 15px;
    background-color: var(--white);
    box-shadow: var(--lite-shadow);
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-menu {
    width: 355px;
}

.login-menu__preview {
    width: 100%;
    display: grid;
    grid-template-columns: 61px 1fr;
    grid-column-gap: 23px;
    padding: 4px 0 29px;
}

.login-menu__user-icon {
    grid-row: 1/3;
    width: 42px;
    height: 53px;
    margin: auto;
    stroke: rgba(70, 60, 136, 0.4);
}

.login-menu__user-name, .login-menu__user-phone {
    font: 400 20px/23px var(--font);
    color: var(--dark-state-blue);
}

.login-menu__list, .login-menu__item {
    width: 100%;
}

.login-menu__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.login-menu__item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.login-menu__link {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 15px;
    height: 49px;
    align-items: center;
}

.header-user__text {
    font: 400 16px/18px var(--font);
    color: var(--dark-state-blue);
}

.login-menu__link:hover .header-user__text {
    color: var(--red);
}

.header-user__number {
    padding: 1px 5px 0;
    background-color: var(--dark-state-blue);
    border-radius: 5px;
    color: var(--white);
    font: 700 14px/16px var(--font);
    height: max-content;
}

.login-menu__icon {
    stroke: var(--dark-state-blue);
    width: 17px;
    height: 15px;
}

/* style content
-----------------*/
.content {
    width: 100%;
    min-height: calc(100vh - 245px);
}

/* style footer
-----------------*/
.footer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--dark-state-blue);
    border-radius: 10px 10px 0 0;
    padding: 26px 30px 18px;
    display: grid;
    grid-template-columns: auto 1fr repeat(2, auto);
}

.logo-footer__icon {
    width: 126px;
    height: 38px;
    fill: var(--white);
}

.footer-info {
    margin-right: 45px;
}

.footer-info, .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-nav {
    max-width: 650px;
}

.footer-info__copyright {
    margin-top: 16px;
    font: 400 15px/16px var(--font);
    color: var(--white);
    opacity: .6;
}

.footer-menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-menu__item {
    padding-right: 17px;
    position: relative;
}

.footer-menu__item:last-child:after, .footer-menu__item:nth-child(6):after {
    content: none;
    padding: 0;
}

.footer-menu__item:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: var(--white);
}

.footer-menu__link {
    color: var(--white);
    font: 400 15px/18px var(--font);
}

.yandex-rating {
    width: 150px;
    height: 51px;
    background-color: var(--white);
    border-radius: 8px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 76px;
}

.form-mailing {
    margin-top: 20px;
    background-color: var(--white);
    border: 1px solid var(--alto);
    border-radius: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.form-mailing__input {
    height: 36px;
    padding: 0 5px 0 15px;
    font: 400 16px/19px var(--font);
    color: var(--black);
    width: 230px;
}

.form-mailing__input::placeholder {
    font: 400 16px/19px var(--font);
    color: var(--suva-grey);
}

.form-mailing__submit {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contacts__phone {
    color: var(--white);
    font: 400 13px/1.7 var(--font);
}

.footer-contacts__time-job {
    font: 400 11px/13px var(--font);
    color: var(--white);
    opacity: .6;
    margin-top: 4px;
}

.footer-contacts__btn {
    padding: 10px 23.5px;
    border: 1px solid var(--white);
    border-radius: 30px;
    font: 400 14px/16px var(--font);
    margin-top: 16px;
    color: var(--white);
    transition: var(--normal);
}

.footer-contacts__btn:hover {
    background-color: var(--white);
    color: var(--dark-state-blue);
    font-weight: 500;
}


/* style @media
--------------------*/
@media screen and (max-width: 1470px) {
    :root {
        --content-size: calc(50% - 600px);
    }

    .footer {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --content-size: calc(50% - 460px);
    }

    .footer {
        max-width: 1000px;
    }

    .header-comparison {
        margin-left: 15px;
    }

    .header-phone {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {

}