.bx-core-window {
}

.bx-core-window input, .bx-core-window select {
  display: inline;
  width: inherit;
  height: inherit;
  padding: inherit;
  margin: inherit;
  border: inherit;
  border-radius: inherit;
  background: inherit;
  font: inherit;
}

.bxml-dialog button, .bxml-dialog input[type="button"], .bxml-dialog input[type="submit"],
.editor_dialog button, .editor_dialog input[type="button"], .editor_dialog input[type="submit"],
.bxml-dialog button:hover, .bxml-dialog input[type="button"]:hover, .bxml-dialog input[type="submit"]:hover,
.editor_dialog button:hover, .editor_dialog input[type="button"]:hover, .editor_dialog input[type="submit"]:hover {
  display: inline;
  width: auto;
  height: auto;
  padding: 2px 5px;
  margin: inherit;
  border: 1px solid #aaa;
  border-radius: 2px;
  background: #eee;
  font: inherit;
  color: #000 !important;
  box-shadow: none;
}

.bxml-dialog input, .bxml-dialog select, .editor_dialog input, .editor_dialog select, .bxml-dialog input:hover,
.bxml-dialog select:hover, .editor_dialog input:hover, .editor_dialog select:hover {
  display: inline;
  width: auto;
  height: auto;
  padding: 2px 5px;
  margin: inherit;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #000 !important;
  background: #eee;
  font: inherit;
}

.editor_dialog .content {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: visible;
}

div.mlsd {
  width: auto !important;
  height: auto !important;
}

div.mlsd table.mlsd-fields-tbl td input {
  width: 90px !important;
}

div.bxml-dialog *, div.bxml-subdialog-cont * {
  width: auto;
  height: auto;
}

.editor_dialog {
  height: 490px !important;
  box-sizing: border-box;
}

div.editor_dialog div.title {
  height: auto;
}

div.editor_dialog div.content {
  background: #fff;
}

div.editor_dialog td {
  border: 0;
}

div.bxfd-tree-cont-div table {
  margin: 0;
}

.fd_input, .fd_select {
  height: auto;
  margin: 0;
  background: #fff;
}

div.editor_dialog div.title {
  margin: 0;
  padding: 0;
}

div.editor_dialog .title {
  font-size: inherit;
}

.adm-workarea .adm-btn, .adm-workarea input[type="button"], .adm-workarea input[type="reset"], .adm-workarea input[type="submit"] {
  color: #000 !important;
}

.bx-yandex-view-layout, .bx-yandex-view-map {
  height: 100%;
}