@import "fonts.css";

/* style general
-----------------*/
:root {
    --content-size: calc(50% - 700px);
    --normal: .3s;
    --port-core: #231e44;
    --dark-state-blue: #463C88;
    --white: #fff;
    --suva-grey: #888;
    --alto: #d9d9d9;
    --black: #000;
    --medium-spring-green: #02f798;
    --slimy-green: #02f798;
    --green-haze: #00A565;
    --red: #ff0000;
    --orange: #f79502;
    --deep-saffron: #ef9934;
    --font: "Roboto", sans-serif;
    --title-h3: 400 23px/27px var(--font);
    --text-normal: 400 14px/16px var(--font);
    --lite-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
}

*, :before, :after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    color: var(--black);
    background-color: #f5f5f6;
}

body.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"], input[type="file"] {
    display: none;
}

mark, button {
    background: transparent;
}

section {
    width: 100%;
    padding: 0 var(--content-size);
    margin-bottom: 40px;
}

.bg-img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.link-all {
    padding: 7px 15px;
    border: 1px solid var(--alto);
    border-radius: 20px;
    font: 500 14px/16px var(--font);
    color: var(--black);
    transition: var(--normal);
    max-height: 30px;
}

.link-all:hover {
    color: var(--white);
    background-color: var(--dark-state-blue);
}

.section-title {
    font: var(--title-h3);
    color: var(--black);
}

.btn {
    padding: 8px 20px;
    border-radius: 20px;
    font: 400 16px/19px var(--font);
    transition: var(--normal);
}

.slider-prev, .slider-next {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.slider-prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.slider-next {
    right: 0;
    transform: translate(50%, -50%);
}

.slider-next:disabled, .slider-prev:disabled {
    display: none;
}

.slider-prev__arrow, .slider-next__arrow {
    width: 8px;
    height: 16px;
    stroke: var(--dark-state-blue);
    stroke-width: 2;
    fill: transparent;
}

.slider-prev__arrow {
    transform: translateX(-15%);
}

.slider-next__arrow {
    transform: translateX(15%) rotate(180deg);
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.dpl-none {
    display: none !important;
}

.no-valid {
    border-color: var(--red) !important;
}

/* style header
-----------------*/
.header {
    margin-bottom: 15px;
}

.header-menu, .header-bottom {
    width: 100%;
    padding: 0 var(--content-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom.open-search .logo-header, .header-bottom.open-search .header-panel-right,
.header-bottom.open-search .header-catalog, .header-bottom.open-search .header-location{
    opacity: 0;
}

.header-menu {
    height: 32px;
    background-color: var(--port-core);
}

.header-menu__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
}

.header-menu__item {
    margin-left: 27px;
}

.header-menu__item:first-child {
    margin: 0;
}

.header-menu__link {
    font: var(--text-normal);
    color: var(--white);
}

.header-bottom {
    height: 55px;
    background-color: var(--dark-state-blue);
}

.logo-header, .logo-header__icon {
    fill: var(--white);
    width: 88px;
    height: 26px;
}

.catalog-btn__icon {
    width: 17px;
    height: 17px;
    stroke: var(--white);
    transition: var(--normal);
    margin-right: 7px;
}

.header-catalog.active .catalog-btn {
    background-color: var(--white);
    color: var(--dark-state-blue);
    padding: 0 11px 0 9px;
    z-index: 20;
}

.catalog-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 400 16px/19px var(--font);
    color: var(--white);
    height: 100%;
    border-radius: 5px 5px 0 0;
    transition: var(--normal);
    z-index: 5;
    position: relative;
}

.header-catalog.active .catalog-btn__icon, .header-location.active .location-btn__icon {
    stroke: var(--dark-state-blue);
}

.header-panel-left {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-panel-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.header-panel-right__btn {
    position: relative;
}

.header-panel-right__btn.exist:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    left: 10px;
    top: 10px;
    background: var(--red);
    border: 1px solid var(--white);
    border-radius: 50%;
}

/*.header-location
------------------*/
.header-location {
    display: inline-flex;
    align-items: center;
    margin-left: 21px;
    height: 100%;
    transition: var(--normal);
    position: relative;
}

.header-location.active:before {
    content: "";
}

.header-location.active .location-btn {
    padding: 0 15px 0 14px;
    background-color: var(--white);
    z-index: 20;
}

.header-location.active.active.change-location .location-btn {
    padding: 0;
    background-color: transparent;
}

.header-location.active.active.change-location .location-btn__icon, .location-btn__icon {
    stroke: var(--white);
}

.location-btn {
    height: 100%;
    transition: var(--normal);
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 5;
}

.location-btn__icon {
    width: 12px;
    height: 17px;
}

.header-location__place {
    font: var(--text-normal);
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
}

.header-location-confirm {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px 25px 18px 40px;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
    visibility: hidden;
    opacity: 0;
    z-index: -5;
    transition: var(--normal);
    width: 370px;
}

.header-location.active .header-location-confirm {
    z-index: 20;
    visibility: visible;
    opacity: 1;
}

.header-location-confirm__title {
    color: var(--black);
}

.header-location-confirm__title > mark, .header-location-confirm__title {
    font: 400 20px/23px var(--font);
}

.header-location-confirm__title > mark {
    color: var(--dark-state-blue);
    margin-left: 10px;
}

.header-location-confirm__buttons-select, .header-location-confirm__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-location-confirm__buttons-select {
    margin-top: 16px;
}

.header-location-confirm__text {
    margin-top: 18px;
    font: 400 14px/1.5 var(--font);
    color: var(--suva-grey);
}

.header-location-confirm__btn-true {
    background-color: var(--dark-state-blue);
    color: var(--white);
}

.header-location-confirm__btn-false {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--alto);
    margin-left: 14px;
}

.header-location.active .header-location-confirm.hide, .header-location-confirm__select {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
}

.header-location-confirm.hide ~ .header-location-confirm__select {
    visibility: visible;
    opacity: 1;
    z-index: 20;
}

.header-location-confirm__select {
    transition: var(--white);
    padding: 27px 30px 26px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--lite-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-location-confirm__select-title {
    font: 400 24px/28px var(--font);
    color: var(--black);
}

.header-location-confirm__select-input {
    margin-top: 20px;
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid var(--alto);
    border-radius: 30px;
    font: 400 16px/19px var(--font);
    color: var(--black);
}

.header-location-confirm__select-input::placeholder {
    font: 400 16px/19px var(--font);
    color: var(--suva-grey);
}

.header-location-confirm__select-close {
    position: absolute;
    top: 35px;
    right: 35px;
}

.header-location-confirm__close-icon {
    width: 15px;
    height: 16px;
    stroke: var(--suva-grey);
}

.header-location-confirm__select-list {
    margin-top: 14px;
    min-height: 100px;
}

.header-location-confirm__select-item {
    margin-bottom: 12px;
    font: 400 16px/19px var(--font);
    color: var(--dark-state-blue);
    border-bottom: 1px dashed var(--dark-state-blue);
    padding-bottom: 2px;
    width: max-content;
    cursor: pointer;
}

.header-location-confirm__select-item:last-child {
    margin-bottom: 0;
}

.header-location-confirm__select-text {
    font: 400 16px/1.5 var(--font);
    color: var(--suva-grey);
    margin-top: 15px;
}

.header-location-confirm__select-true {
    padding: 8px 18px;
    color: var(--white);
    background-color: var(--dark-state-blue);
    border-radius: 20px;
    margin-top: 85px;
    opacity: 0;
    transition: var(--normal);
}

.header-location-confirm__select-true.visible {
    opacity: 1;
}

/*header-search
-----------------*/
.header-search {
    margin-left: 16px;
    width: 131px;
    height: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    padding: 10px 12px;
}

.header-search__input {
    width: calc(100% - 23px);
    height: 30px;
    background-color: transparent;
    font: 400 16px/19px var(--font);
    color: var(--white);
}

.header-search__close {
    position: absolute;
    right: 16px;
    top: 10px;
    display: none;
}

.header-search__close-icon {
    stroke: var(--dark-state-blue);
    width: 15px;
    height: 15px;
}

.header-search__input::placeholder {
    font: 400 16px/19px var(--font);
    color: rgba(255, 255, 255, 0.4);
}

.header-search__submit {
    display: none;
    position: absolute;
    right: calc(100% + 17px);
}

.header-search__icon {
    width: 15px;
    height: 17px;
    fill: var(--white);
    stroke: var(--white);
    margin-right: 8px;
}

.header-search__text {
    display: none;
    font: 400 16px/19px var(--font);
    width: max-content;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
}

/*header catalog
-----------------*/
.header-catalog {
    height: 100%;
    position: relative;
}

.header-catalog.active .header-catalog-wrap {
    z-index: 15;
    visibility: visible;
    opacity: 1;
}

.header-catalog.active:before, .header-search.active:before {
    content: "";
}

.header-catalog-wrap {
    width: 1400px;
    background-color: var(--white);
    position: absolute;
    transition: var(--normal);
    top: 100%;
    left: 0;
    z-index: -5;
    visibility: hidden;
    opacity: 0;
    padding: 12px 12px 11px 18px;
    border-radius: 0 0 5px 5px;
    box-shadow: var(--lite-shadow);
    display: grid;
    grid-template-columns: 325px 1fr;
    grid-gap: 25px;
}

.header-catalog:before {
    top: 32px;
}

.header-catalog:before, .header-location:before, .header-search:before {
    content: none;
    width: 100%;
    height: 100vh;
    background: rgba(33, 27, 69, 0.7);
    backdrop-filter: blur(4.5px);
    z-index: 10;
    left: 0;
    position: fixed;
}

.header-location:before, .header-search:before {
    top: 87px;
}

.header-search.active {
    z-index: 20;
    position: absolute;
    left: calc(50% - 682px);
    background: #fff;
    border-radius: 26px 26px 0 0;
    padding: 10px 30px 10px 12px;
}

.header-search.active .header-search__input {
    color: var(--black);
    height: 20px;
    padding-right: 10px;
}

.header-search.active .header-search__text {
    display: inline-block;
}

.header-search.active .header-search__icon {
    stroke: var(--black);
}

.header-search.active .header-search__submit {
    top: 10px;
}

.header-search.active .header-search__close, .header-search.active .header-search__submit {
    display: block;
}

.header-search-result, .header-search.active {
    width: 1367px;
}

.header-search.active .header-search-result {
    display: block;
}

.header-search-result {
    position: absolute;
    top: 100%;
    left: -1px;
    border-radius: 0 0 26px 26px;
    z-index: 25;
    background-color: #EAEAEA;
    transition: var(--normal);
    display: none;
}

.header-search-result__list {
    width: 100%;
    background-color: #fff;
    padding: 7px 34px 0;
}

.header-search-result__items {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search-result__items:last-child {
    border: none;
}

.header-search__submit-icon {
    stroke: var(--white);
}

.header-search-result__icon, .header-search__submit-icon {
    width: 8px;
    height: 17px;
    fill: transparent;
}

.header-search-result__icon {
    stroke: var(--dark-state-blue);
    transform: rotate(180deg);
}

.header-search-result__link {
    font: 400 16px/19px var(--font);
    color: var(--black);
    width: 100%;
    padding: 15px 8px;
}

.header-search-result__link mark {
    color: var(--dark-state-blue);
    font-weight: 700;
}

.header-search-result__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    padding: 25px 42px 33px;
}

.header-search-result__cards-item {
    background-color: var(--white);
    height: auto;
    box-shadow: var(--lite-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-catalog-list {
    padding-top: 14px;
}

.header-catalog-list__item {
    margin-bottom: 19px;
}

.header-catalog-list__item:last-child {
    margin: 0;
}

.header-catalog-listt__item:last-child {
    margin-bottom: 0;
}

.header-catalog-list__link {
    font: var(--text-normal);
    color: var(--black);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 15px;
    align-items: center;
    justify-content: flex-start;
}

.header-catalog-preview-wrap {
    display: block;
    grid-template-columns: 1fr 220px;
    grid-column-gap: 40px;
}

.header-catalog-preview-wrap.focus {
    display: grid;
}

.header-catalog-preview__banner-img, .header-catalog-preview__banner-link {
    width: 100%;
}

.header-catalog-preview__banner-link {
    display: none;
}

.header-catalog-preview-wrap.focus .header-catalog-preview-slider {
    display: none;
}

.header-catalog-preview-wrap, .header-catalog-preview-slider, .header-catalog-preview-slider__item,
.header-catalog-preview-slider__list {
    width: 100%;
    height: 100%;
}

.header-catalog-preview-slider {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.header-catalog-preview-slider__item {
    position: relative;
    overflow: hidden;
}

.header-catalog-preview {
    width: 100%;
    height: 100%;
    padding: 16px 0 0;
    max-width: 545px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
}

.header-catalog-preview-wrap.focus .header-catalog-preview {
    display: grid;
}

.header-catalog-preview-wrap.focus .header-catalog-preview__banner-link {
    display: block;
}


.header-catalog-preview__title {
    font: 400 16px/19px var(--font);
    color: var(--dark-state-blue);
    margin-bottom: 15px;
}

.header-catalog-preview__bottom-menu {
    width: max-content;
    margin-bottom: 20px;
}

.header-catalog-preview__list {
    flex-wrap: wrap;
    max-height: 275px;
    display: flex;
    flex-direction: column;
}

.header-catalog-preview__item {
    margin: 0 40px 10px 0;
    width: max-content;
    transition: var(--normal);
}

.header-catalog-preview__item:last-child {
    margin-bottom: 0;
}

.header-catalog-preview__link:before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--alto);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-catalog-preview__link {
    font: var(--text-normal);
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding-left: 15px;
    display: inline-block;
    transition: var(--normal);
}

.header-catalog-preview__link:hover:before {
    opacity: 0;
}

.header-catalog-preview__link:hover {
    color: var(--dark-state-blue);
}

.header-phone {
    display: inline-flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font: 400 16px/19px var(--font);
    transition: var(--normal);
}

.header-phone:hover {
    color: var(--white);
}

.header-phone__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    stroke: var(--white);
}

.header-cart, .header-favorite, .header-comparison {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    position: relative;
    z-index: 3;
}

.header-cart:before, .header-favorite:before, .header-comparison:before {
    content: "";
    width: 9px;
    height: 9px;
    background-color: var(--red);
    border: 1px solid var(--white);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 55;
    transition: var(--normal);
}

.header-cart.notice:before, .header-favorite.notice:before, .header-comparison.notice:before {
    visibility: visible;
    opacity: 1;
}

.header-comparison__icon, .header-favorite__icon, .header-cart__icon {
    width: 19px;
    height: 18px;
    stroke: var(--white);
    fill: var(--white);
    z-index: 50;
}

.header-comparison {
    margin-left: 46px;
}

/*header user*/
.header-user__icon {
    width: 15px;
    height: 18px;
    fill: var(--white);
    transition: var(--normal);
}

.header-user.active .header-user__icon {
    fill: var(--dark-state-blue);
}

.header-user {
    margin-left: 24px;
    height: 100%;
    position: relative;
    transition: var(--normal);
}

.header-user.active {
    background-color: var(--white);
    padding: 0 13px;
    border-radius: 5px 5px 0 0;
}

.header-user.active .header-user__name {
    color: var(--dark-state-blue);
}

.header-user__btn {
    height: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-user__name {
    font: var(--text-normal);
    color: rgba(255, 255, 255, 0.6);
    margin-left: 11px;
}

.header-user:before {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(33, 27, 69, 0.7);
    backdrop-filter: blur(4.5px);
    z-index: -10;
    top: 87px;
    left: 0;
}

.header-user.active:before, .header-user.open-auth:before {
    content: "";
    z-index: 10;
}

.header-user__number {
    padding: 1px 5px 0;
    background-color: var(--dark-state-blue);
    border-radius: 5px;
    color: var(--white);
    font: 700 14px/16px var(--font);
    height: max-content;
}

.header-user__text {
    font: 400 16px/18px var(--font);
    color: var(--dark-state-blue);
}

/*login menu*/

.login-menu__link:hover .header-user__text {
    color: var(--red);
}

.header-user.open-auth .login-wrap {
    display: none;
}

.login-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
}

.header-user.active .login-menu-wrap, .header-user.open-auth .login-menu-wrap {
    z-index: 50;
    visibility: visible;
    opacity: 1;
}

.login-wrap {
    width: 350px;
    padding: 23px 13px;
    align-items: center;
}

.login-wrap__text {
    font: 400 14px/1.5 var(--font);
    text-align: center;
    color: var(--black);
    margin-bottom: 14px;
}

.login-wrap__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--dark-state-blue);
}

.login-menu, .login-wrap {
    padding: 15px;
    background-color: var(--white);
    box-shadow: var(--lite-shadow);
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-menu {
    width: 355px;
    display: none;
}

.login-menu__preview {
    width: 100%;
    display: grid;
    grid-template-columns: 61px 1fr;
    grid-column-gap: 23px;
    padding: 4px 0 29px;
}

.login-menu__user-icon {
    grid-row: 1/3;
    width: 42px;
    height: 53px;
    margin: auto;
    fill: rgba(70, 60, 136, 0.4);
}

.login-menu__user-name, .login-menu__user-phone {
    font: 400 20px/23px var(--font);
    color: var(--dark-state-blue);
}

.login-menu__list, .login-menu__item {
    width: 100%;
}

.login-menu__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.login-menu__item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.login-menu__link {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 15px;
    height: 49px;
    align-items: center;
}

.login-menu__icon {
    stroke: var(--dark-state-blue);
    width: 17px;
    height: 15px;
    fill: var(--dark-state-blue);
}

/* style authorization | registration
-----------------------------------*/
.authorization, .registration {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px 40px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--lite-shadow);
    transition: var(--normal);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.authorization {
    width: 570px;
    min-height: 460px;
}

.registration {
    width: 677px;
}

.authorization .registration-user {
    display: none;
}

.registration .registration-user {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 60px;
    width: 100%;
}

.authorization.hide {
    transform: translate(-50%, -30%);
    opacity: 0;
    visibility: hidden;
    z-index: -5;
}

.authorization__close {
    position: absolute;
    top: 24px;
    right: 25px;
}

.authorization__close-icon {
    width: 14px;
    height: 15px;
    stroke: var(--dark-state-blue);
}

.registration .authorization__logo {
    width: 155px;
    height: 45px;
    margin-bottom: 22px;
}

.authorization__logo {
    width: 205px;
    height: 60px;
    fill: var(--dark-state-blue);
    margin-bottom: 34px;
}

.authorization__login-phone, .form-authorization {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

[data-status-form="phone-not-found"] .authorization__text {
    max-width: 290px;
}

[data-status-form="phone-not-found"] .authorization__text, [data-status-form="pass-not-found"] .authorization__text {
    color: var(--red);
}

[data-status-form="pass-not-found"] .authorization__text {
    max-width: 351px;
}

[data-status-form="phone-not-found"] .form-authorization__label,
[data-status-form="pass-not-found"] .form-authorization__label,
[data-status-form="sms-error"] .form-authorization__label, [data-status-form="sms-error"] ~ .form-sms-auth .form-sms-auth__label {
    border-color: var(--red);
}

[data-status-form="phone-not-found"] .form-authorization__submit, [data-status-form="hide"],
[data-status-form="phone-not-found"] .form-authorization__btn, [data-status-form="phone-not-found"] .form-authorization__submit,
[data-status-form="default"] .form-registration__btn, [data-status-form="pass"] .form-authorization__btn,
.form-authorization__check:not([data-status-form="pass"] .form-authorization__check),
[data-status-form="pass"] .authorization__text, [data-status-form="pass-not-found"] .form-authorization__btn,
.sms-error-text, [data-status-form="sms"] .form-authorization, [data-status-form="sms"] .form-authorization__btn,
[data-status-form="sms"] .form-registration__btn, .form-sms-auth, [data-status-form="sms-error"] .form-registration__btn,
[data-status-form="sms-error"] .form-authorization__btn, [data-status-form="sms-error"] .form-authorization {
    display: none;
}

[data-status-form="sms"] ~ .form-sms-auth, [data-status-form="sms-error"] ~ .form-sms-auth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
}

[data-status-form="sms-error"] .sms-error-text {
    display: inline-block;
    margin-bottom: 22px;
    color: var(--red);
    font: var(--text-normal);
}

.form-sms-auth .form-sms-auth__label {
    width: 238px;
}

.bnt-change-phone {
    font: 700 14px/16px var(--font);
    color: var(--dark-state-blue);
}

[data-status-form="sms"] .authorization__text, [data-status-form="sms-error"] .authorization__text {
    font: var(--text-normal);
    color: var(--black);
    max-width: 100%;
    margin-bottom: 58px;
}

[data-status-form="sms-error"] .authorization__text {
    margin-bottom: 15px;
}

[data-status-form="pass"] .authorization__title {
    margin-bottom: 28px;
}

[data-status-form="sms-error"] .sms-error-text {
    display: inline-block;
    font: var(--text-normal);
    color: var(--red);
    margin-bottom: 22px;
}


.form-registration__btn {
    margin: 15px 0;
}

.form-sms-auth__repeat-code, .form-registration__btn {
    background-color: var(--dark-state-blue);
    color: var(--white);
}

.form-sms-auth__repeat-code:disabled {
   opacity: .6;
}

.form-sms-auth__repeat-code {
    margin-bottom: 24px;
}

.form-authorization__label, .registration-from__label, .form-sms-auth__label {
    width: 238px;
    border: 1px solid var(--alto);
    border-radius: 26px;
    position: relative;
    padding: 12px 15px 5px;
    overflow: hidden;
    display: block;
    transition: var(--normal);
    margin-bottom: 12px;
}

.form-authorization__label:last-of-type:not([data-status-form="pass"] .form-authorization__label,
 [data-status-form="pass-not-found"] .form-authorization__label) {
    display: none;
}

.registration-from__label {
    width: 100%;
}

.form-authorization__placeholder, .registration-from__placeholder, .form-sms-auth__placeholder {
    color: var(--suva-grey);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: .1s;
    cursor: text;
}

.form-authorization__placeholder, .form-authorization__input, .registration-from__placeholder, .registration-from__input,
.form-sms-auth__placeholder, .form-sms-auth__input  {
    font: 400 16px/18px var(--font);
}

.form-authorization__input, .registration-from__input, .form-sms-auth__input {
    width: 100%;
    height: 20px;
    background-color: transparent;
    color: var(--black);
}

.form-authorization__input.focus + .form-authorization__placeholder,
.registration-from__input.focus + .registration-from__placeholder,
.form-sms-auth__input.focus + .form-sms-auth__placeholder {
    transform: translateY(0);
    top: 5px;
    font: 400 8px/9px var(--font);
}

.authorization__title {
    margin-bottom: 12px;
    font: 400 20px/23px var(--font);
    color: var(--black);
}

.authorization__text {
    font: var(--text-normal);
    color: var(--dark-state-blue);
    margin-bottom: 21px;
    max-width: 231px;
    text-align: center;
}

.form-authorization__btn {
    border: 1px solid var(--alto);
    background-color: transparent;
    margin-top: 12px;
}

.form-authorization__submit {
    background-color: var(--dark-state-blue);
    color: var(--white);
    min-width: 140px;
}

.registration-advantages__title, .registration-user__title {
    font: 400 20px/23px var(--font);
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 23px;
}

.registration-user__title {
    color: var(--black);
}

.registration-advantages__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.registration-advantages__item:last-child {
    margin-bottom: 0;
}

.registration-advantages__item-title {
    font: 400 28px/33px var(--font);
    color: var(--dark-state-blue);
    margin-bottom: 3px;
}

.registration-advantages__item-text, .registration-user__btn-form-auth, .form-sms-auth__text {
    font: var(--text-normal);
    color: var(--black);
}

.registration-form__submit {
    background-color: var(--dark-state-blue);
    color: var(--white);
    margin-top: 15px;
}

.registration-user__text {
    margin-top: 15px;
    color: var(--suva-grey);
}

.registration-user__text, .registration-user__text a {
    font: 400 12/14px var(--font);
}

.registration-user__text a {
    color: var(--dark-state-blue);
}

.registration-user__btn-form-auth {
    margin-top: 25px;
}

.registration-form__check-text {
    position: relative;
    padding-left: 28px;
}

.registration-form__check-text:before, .form-authorization__check-text:before {
    border: 1px solid var(--dark-state-blue);
    border-radius: 4px;
    width: 19px;
    height: 19px;
    left: 0;
}

.registration-form__check-text:after, .registration-form__check-text:before, .form-authorization__check-text:after,
.form-authorization__check-text:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.registration-form__check-text:after, .form-authorization__check-text:after {
    width: 9px;
    height: 8px;
    background: url("../img/icons/check.svg") no-repeat;
    background-size: cover;
    background-position: center;
    left: 5px;
    opacity: 0;
    transition: var(--normal);
}

.registration-form__check input[type="checkbox"]:checked + .registration-form__check-text:after,
.form-authorization__check-input:checked + .form-authorization__check-text:after {
    opacity: 1;
}

.registration-form__check, .form-authorization__check {
    cursor: pointer;
}

.form-authorization__check-text {
    padding-left: 26px;
    font: var(--text-normal);
    color: var(--black);
    position: relative;
}


/* style content
-----------------*/
.content {
    width: 100%;
    min-height: calc(100vh - 240px);
}

/* style footer
-----------------*/
.footer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--dark-state-blue);
    border-radius: 10px 10px 0 0;
    padding: 26px 30px 18px;
    display: grid;
    grid-template-columns: auto 1fr repeat(2, auto);
}

.logo-footer__icon {
    width: 126px;
    height: 38px;
    fill: var(--white);
}

.footer-info {
    margin-right: 45px;
}

.footer-info, .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-nav {
    max-width: 650px;
}

.footer-info__copyright {
    margin-top: 16px;
    font: 400 15px/16px var(--font);
    color: var(--white);
    opacity: .6;
}

.footer-menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-menu__item {
    padding-right: 17px;
    position: relative;
}

.footer-menu__item:last-child:after, .footer-menu__item:nth-child(6):after {
    content: none;
    padding: 0;
}

.footer-menu__item:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: var(--white);
}

.footer-menu__link {
    color: var(--white);
    font: 400 15px/18px var(--font);
}

.yandex-rating {
    width: 150px;
    height: 51px;
    background-color: var(--white);
    border-radius: 8px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 76px;
}

.form-mailing {
    margin-top: 20px;
    background-color: var(--white);
    border: 1px solid var(--alto);
    border-radius: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.form-mailing__input {
    height: 36px;
    padding: 0 5px 0 15px;
    font: 400 16px/19px var(--font);
    color: var(--black);
    width: 230px;
}

.form-mailing__input::placeholder {
    font: 400 16px/19px var(--font);
    color: var(--suva-grey);
}

.form-mailing__submit {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contacts__phone {
    color: var(--white);
    font: 400 13px/1.7 var(--font);
}

.footer-contacts__time-job {
    font: 400 11px/13px var(--font);
    color: var(--white);
    opacity: .6;
    margin-top: 4px;
}

.footer-contacts__btn {
    padding: 10px 23.5px;
    border: 1px solid var(--white);
    border-radius: 30px;
    font: var(--text-normal);
    margin-top: 16px;
    color: var(--white);
    transition: var(--normal);
}

.footer-contacts__btn:hover {
    background-color: var(--white);
    color: var(--dark-state-blue);
    font-weight: 500;
}


/* style @media
--------------------*/
@media screen and (max-width: 1470px) {
    :root {
        --content-size: calc(50% - 600px);
    }

    .footer {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --content-size: calc(50% - 460px);
    }

    .footer {
        max-width: 1000px;
    }

    .header-comparison {
        margin-left: 15px;
    }

    .header-phone {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {

}